/* MOBILE FIRST */
.cartContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.cartItem{
    width: 400px;
}
.noHayProductos{
    font-size: 20px;
    text-align: center;
}
.totales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.totales .cantidad{
    font-size: 16px;
    align-self: flex-end;
}

.totales .total {
    align-self: flex-end;
    font-size: 20px;
}
.totales .finalizar {
    cursor: pointer;
    width: 100%;
    text-align: center;
    background-color: black;
    color: #ffffff;
    font-weight: 900;
    border: 1px solid #cdcdcd;
    border-radius: 2%;
    padding: 0.7rem;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.5s;
    margin: 1rem;
}
.totales .finalizar:hover {
    background-color: #a3a3a3;
    color: black;
}
.totales .vaciar {
    cursor: pointer;
    background-color: #ff0000;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-weight: 900;
    border: 1px solid #cdcdcd;
    border-radius: 2%;
    padding: 0.7rem;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.5s;
}
.totales .vaciar:hover {
    background-color: #a3a3a3;
    color: black;
}

.home {
    cursor: pointer;
    background-color: black;
    color: #ffffff;
    font-weight: 900;
    border: 1px solid #cdcdcd;
    border-radius: 2%;
    padding: 0.7rem;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.5s;
}

.home:hover {
    background-color: #a3a3a3;
    color: black;
}

@media (min-width: 768px) {
    .cartItem{
        align-self: flex-start;
        width: 400px;
    }
    .botones {
        display: flex;
        flex-direction: row;
    }
}