.header {
    width: 100%;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 0.5rem;
}
.header-title{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.header-title h1{
    font-size: 50px;
    font-weight: 900;
}

.icono-list {
    width: 2rem;
    height: 2rem;
    display: none;
    margin: 5px;
    cursor: pointer;
}
.header nav{
    order: 1;
}

.header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.header nav ul li { 
    font-size: 20px;
    display: inline-block;
    margin: 0.5rem 2rem;
    cursor: pointer;
    
}

.header nav ul li .navLink{
    color: black;
    text-decoration: none;
    transition: all 0.5s;
}

.header nav ul li .navLink:hover{
    color: #a3a3a3;
}

.menu-lateral {
    order: 2;
}


@media screen and (max-width:680px) {

    .icono-list {
        display: flex;
    }
    .header .menu-lateral{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .header .nav {
        width:100%;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height:0vh;
        opacity: 0;
        overflow: hidden;
        transition: all .5s ease;
    }

    .header .nav.isActive {
        height:50vh;
        opacity: 1;
    }

    .header nav ul {
        flex-direction: column;
    }

    .header li {
        margin: .5em 0;
    }

    .menu-lateral {
        order: 1; 
    }
    .nav {
        order: 2;
    }
}