/* MOBILE FIRST */
.container-count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-count .minus, 
.container-count .plus {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    background-color: black;
    color: #ffffff;
    font-weight: 900;
    border: 1px solid #cdcdcd;
    border-radius: 10%;
    transition: all 0.5s;
}

.container-count .minus:hover, 
.container-count .plus:hover {  
    background-color: #a3a3a3;
}

.container-count .contador {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 3rem;
    height: 3rem;
}

.container-count .contador p{
    font-size: 12px;
    font-weight: 900;
}

.add {
    cursor: pointer;
    width: 180px;
    height: 3rem;
    background-color: black;
    color: #ffffff;
    font-weight: 900;
    border: 1px solid #cdcdcd;
    border-radius: 2%;
    margin-top: 10px;
    transition: all 0.5s;
}

.add:hover{
    background-color: #a3a3a3;
}
