.itemContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* DESKTOP */
@media (min-width: 768px) {
    .itemContainer {
        flex-direction: row;
    }
}